.row {
    padding: 10px 0;
    border-bottom: 1px #e7e7e8 solid;
    cursor: pointer;
}
.row.row_header {
    font-weight: bold;
    border-bottom: 2px #787878 solid;
}
.row.row_level-1 .name {
    padding-left: 10px;
}
.row.row_level-2 .name {
    padding-left: 20px;
}
.row.row_level-3 .name {
    padding-left: 30px;
}
